/* body */

body {
    background-color: #647279;
    padding: 0;
}

/* Error divs */

.error {
    color: #fff;
    font-size:17px;
    position: absolute;
        left: 50%;
        top: 170px;
    transform: translateX(-50%);
}

/* containers for calculator and its buttons */

.box {
    background-color: #ebe6dd;
    border-radius: 150px / 20px;
    box-shadow: inset 0px 0px 5px #222,
                0px 10px 20px #222;
    overflow: auto;
    padding: 8px;
    position: absolute;
        left: 50%;
        top: 200px;
    transform: translateX(-50%);
    width: 300px;
}

.innerBox {
    margin: 10px;
    overflow: auto;
    padding: 5px;
}

/* Screen and display for Calculator */

.screen {
    background-color: #D2D2B9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px #222;
    margin: 20px -8px 13px -8px;
}

#display {
    color: #555;
    font: 30px/32px Arial, Sans-Serif;
    font-weight: bold;
    position: relative;
        right: 5px;
        top: 5px;
    text-align: right;
    vertical-align: center;
}

/* grid for calculator buttons*/

.col-xs-3,
.col-xs-4  {
    padding:6px;
}

.col-xs-9 {
    padding: 0;
    margin: 0;
}

/* Buttons */

.btn {
    color: #eee;
    background-color: #444;
    border-radius: 10px;
    box-shadow: inset 0px 1px 2px #666,
                0px 2px 4px #666;
    font-size: 17px;
    width: 100%;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #eee;
    outline: none !important;
}

#btn-CE,
#btn-AC {
    background-color: #c93a49;
}

#btn-plus {
    float: right;
    height: 88px;
}

/* Footer */

footer {
    color: #eee;
    font-size: 17px;
    position: absolute;
        top: 600px;
}
